$background-color: #222630;
$off-background-color: #FFFFFF;
// $login-background-color: rgba(0 0 0 0.5);

$text-color-dark: #252525;
$text-color-light: #FFFFFF;

$accent-color: #0fff4f;
$accent-color-lighter: #58f582;
$shadow-color: #C0C0C0;