@import './colors.module.scss';

.layout-template {
   background-color: $background-color;
   color: $text-color-light;
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
}

.container-template {
   background-color: $background-color;
   color: $text-color-dark;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.table-template {
  
}
