@import '../styles/util-styles/colors.module.scss';
@import '../styles/util-styles/template.module.scss';

.App {
   @extend .container-template;
   font-size: calc(10px + 2vmin);
   min-height: 90vh;
}

.overlay
{
  position: absolute;
  top: 50%;
  left: 32%;
  height: 2vw;
  z-index: 0;
  color: $text-color-light;
}

.button-home-div
{
  margin-top:20px;
}

#get-started
{
  border-radius: 20px;
  font-size: 80%;
  padding: 20px;
  width: 50%;
  background-color:$accent-color;
  border-color: $accent-color;
  border: none;
  color: $text-color-light;
  font-weight: bold;
}

#get-started:hover {
  transition-duration: .5s;
  background-color: white;
  border-color: white;
  color: #459DBA;
  font-weight: bold;
  cursor:pointer;
}

.home-video
{
  z-index: 1;
}

.card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 1em;
   gap: 0.5em;
   width: 100%;
}