@import '../styles/util-styles/colors.module.scss';
@import '../styles/util-styles/template.module.scss';

.App {
   @extend .container-template;
   font-size: calc(10px + 2vmin);
   min-height: 80vh;
}

.coin-chart-container
{
    display: flex;
    justify-content: center;
    background-color: $background-color;
}

.overlay
{
  position: absolute;
  top: 50%;
  left: 32%;
  height: 2vw;
  z-index: 0;
}

.trade-component
{
}

.button-home-div
{
  margin-top:20px;
}

#get-started
{
  border-radius: 20px;
  font-size: 80%;
  padding: 20px;
  width: 50%;
  background-color: #459DBA;
  border-color: #459DBA;
  color: white;
  font-weight: bold;
}

#get-started:hover {
  transition-duration: .5s;
  background-color: white;
  border-color: white;
  color: black;
  font-weight: normal;
  cursor:pointer;
}

.home-video
{
  z-index: 1;
}

.card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 1em;
   gap: 0.5em;
}



.card {
   border: 3px solid $outline-color;
   background-color: $accent-bg-color;
   padding: 1em;
   border-radius: 0.5em;
   width: 19%;
   height: 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.card:hover {
  transform: scale(1.02);
  transition-duration: .5s;
  border: 3px solid $highlight-color;
  cursor:pointer;
}

#amount-input-buy
{
  margin: auto;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background-color: $background-color;
  width:50%;
  font-size: 2em;
}
#swap-button
{
  margin: auto;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.buy-input-container
{
  position: relative;
  top: 50px;
  width:90%;
  display: flex;
  justify-content: center;
}

.trade-component
{
  display: flex;
  justify-content: center;
}

#result-amount
{
  width:150px;
  font-size: vmax;
  position: relative;
  right: 10%;
}

.profile-container{
  @extend .container-template;
  min-height: 80vh;
}

#time-period
{
  position: absolute;
  left: 10%;
  bottom: 77%;
  border-radius: 10px;
  // font-weight: bold;
  padding: 5px;
}

#buy-button
{
  position: relative;
  top: 30%;
  left: 48%;
  width: 70%;
  border-radius: 10px;
  font-weight: bold;
  padding: 15px;
}

.buy-sell-container
{
  min-width: 25vw;
  min-height: 10vw;
  background-color: $background-color;
  color: white;
  margin-left: 1%;
}

.info-container
{
  display:flex;
  justify-content: center;
  border: 2px solid white;
  margin: 4%;
}

.info-buttons
{
  margin: auto;
  width: 30%;
  border-radius: 10px;
  font-size: 80%;
  padding: 10px;
  font-weight: bold;
}

.info-buttons:hover {
  transition-duration: .5s;
  background-color: white;
  border-color: white;
  color: black;
  cursor:pointer;
}

.info-button-container
{
  display:flex;
  justify-content: center;
  margin: 4%;
}

.fusioncharts-container{
  // display: inline-block !important;
  // width: 50em !important;
  // height: 50em !important;
  // overflow: visible !important;
}

