@import '../styles/util-styles/colors.module.scss';
@import '../styles/util-styles/template.module.scss';

.crypto-page-container {
  @extend .container-template;
  min-height: 90vh;
  padding-top: 6em;
}

.fastest-growing-cards {
  @extend .container-template;
  flex-direction: row;
  width: 80vw;
  gap: 1em;
}

.growth-selector{
  display: flex;
  gap: 1em;
  font-size: 1.2em; 
}

.coins-table {
  border: 1px solid $shadow-color;
  width: 80vw;
}

.coins-table tbody tr:nth-child(odd){
  background-color: $shadow-color;
}

.coins-table tbody tr:nth-child(even){
  background-color: $accent-color;
}