@import '../styles/util-styles/colors.module.scss';
@import '../styles/util-styles/template.module.scss';

.profile-container {
  @extend .container-template;
  // padding: 4em 0em;
  padding-top: 6em;
}

.portfolio-page {
  display: flex;
  flex-direction: column;
  // outline: 3px solid $text-color-dark;
  box-shadow: 7px 7px 0px $shadow-color;
  width: 100%;
  min-height: 100vh;
  gap: 1em;
  align-items: center;
  background-color: $background-color;
}

.portfolio-graph {
  // outline: 3px solid $accent-color;
  box-shadow: 7px 7px 0px $accent-color;
  background-color: $off-background-color;
  min-height: 20vh;
  // text-align: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-gaining {
  color: green;
}

.total-losing {
  color: red;
}

.watchlist-container {
  // outline: 3px solid green;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  background-color: $background-color;
  min-height: 40vh;
  padding-top: 1em;
}

.watchlist-container h2 {
  position: absolute;
  top: 0em;
}

.owned-coins-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  background-color: $off-background-color;
  box-shadow: 7px 7px 0px $shadow-color;
  padding: 1em;
}

.owned-coins-table tr {
  cursor: pointer;
}

.owned-coins-table h2 {
  font-size: 2em;
  text-decoration:underline ;
}